/*---------Disable Select text and drag element-------------*/


/* :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    width: auto;
} */

input,
button,
textarea,
 :focus {
    outline: none;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

:root {
    --color-red: #ff0062;
    --color-green: #3dcf03;
    --color-blue: #008CBA;
}


/*-------------------------------------------------------------*/

h1 {
    text-align: center;
    font-family: 'Product Sans';
}

.current-music {
    text-align: center;
    font-family: 'Product Sans';
}

h3 {
    font-family: 'Product Sans';
}

.connect-div {
    margin-left: 2%;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}

.icon-connect {
    max-width: 5%;
    height: auto;
}

button {
    display: inline-block;
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    width: 110px;
    cursor: pointer;
    /* animation */
}


/* ----- Buttons grid ----- */

.button-grid button {
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
}

.button-grid .key-button {
    border-radius: 15px;
}

.button-grid .encoder {
    border-radius: 100px;
}

.button-grid button:hover {
    transform: scale(.9);
}

.button-grid {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}


/* ----- /Buttons grid ----- */


/* ----- Action Buttons ----- */

.action-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.5s;
    border-radius: 15px;
}

.action-button button:hover {
    transform: scale(.98);
}

.save-button {
    background-color: #3dcf03;
}

.reset-button {
    background-color: var(--color-red);
}


/* ----- /Action Buttons ----- */


/* ----- PopupS settings ----- */

.popup {
    right: 50;
}

.popupS-layer {
    /*margin-left: 2px;*/
}

.popupS-overlay {
    background: none;
}

.popupS-content {
    width: 400px;
}

.popupS-title {
    font-family: 'Product Sans';
    font-size: 20px;
}

.popupS-buttons button {
    width: auto;
}

#popupS-button-ok {
    background-color: var(--color-green);
}

#popupS-button-cancel {
    background-color: var(--color-red);
    width: 5em;
}

#clear-keys {
    width: 5em;
}


/* ----- /PopupS settings ----- */

.key-combination {
    width: auto;
    height: 30px;
    text-align: center;
}