/*---------Disable Select text and drag element-------------*/


/* :not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    width: auto;
} */

input,
button,
textarea,
 :focus {
    outline: none;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

:root {
    --color-red: #ff0062;
    --color-green: #3dcf03;
    --color-blue: #008CBA;
    --width-display: 236px;
}


/*-------------------------------------------------------------*/

h1 {
    text-align: center;
    font-family: 'Product Sans';
}

.current-music {
    text-align: center;
    font-family: 'Product Sans';
}

h3 {
    font-family: 'Product Sans';
}

.connect-div {
    margin-left: 2%;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}

.icon-connect {
    max-width: 2em;
    height: auto;
}

button {
    display: inline-block;
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    width: 110px;
    cursor: pointer;
    /* animation */
}

.macropad-info {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    margin: 0;
}

.macropad-info h3 {
    margin: 0;
    margin-right: 2em;
}

.display-div {
    width: auto;
    height: auto;
    margin: 0 auto;
    width: var(--width-display);
}

#macropad-display {
    text-align: center;
    border: solid black;
    border-radius: 15px;
    width: var(--width-display);
    height: 26px;
}


/* ----- Buttons grid ----- */

.button-grid button {
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
}

.button-grid .key-button {
    border-radius: 15px;
}

.button-grid .encoder {
    border-radius: 100px;
}

.button-grid button:hover {
    transform: scale(.9);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 312px;
    height: auto;
    grid-template-columns: 104px 104px 104px;
    padding: 5px;
}

.center-grid {
    width: auto;
    height: auto;
    margin: 0 auto;
    width: 328px;
}

.border-grid {
    border-radius: 26px;
    border: solid;
}


/* ----- /Buttons grid ----- */


/* ----- Action Buttons ----- */

.action-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.5s;
    border-radius: 15px;
}

.action-button button:hover {
    transform: scale(.98);
}

.save-button {
    background-color: #3dcf03;
}

.reset-button {
    background-color: var(--color-red);
}


/* ----- /Action Buttons ----- */


/* ----- PopupS settings ----- */

.popup {
    right: 50;
}

.popupS-layer {
    /*margin-left: 2px;*/
}

.popupS-overlay {
    background: none;
}

.popupS-content {
    width: 400px;
}

.popupS-title {
    font-family: 'Product Sans';
    font-size: 20px;
}

.popupS-buttons button {
    width: auto;
}

#popupS-button-ok {
    background-color: var(--color-green);
}

#popupS-button-cancel {
    background-color: var(--color-red);
    width: 5em;
}

#clear-keys {
    width: 5em;
}


/* ----- /PopupS settings ----- */

.key-combination {
    width: auto;
    height: 30px;
    text-align: center;
}


/* ----- Select Profile ----- */

.profiles span {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    border: solid 2px rgb(0, 0, 0);
    transition: all 0.3s;
    text-align: center;
    border-radius: 10px;
}

.profiles label input {
    /* hide "normal" radio to create custom */
    display: none;
}

.profiles input:checked+span {
    background: rgb(88, 88, 88);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.profiles {
    /* display: flex;
    flex-direction: row; */
    width: auto;
    height: auto;
    margin: 0 auto;
    width: 260px;
}