h1 {
    text-align:center;
    font-family: 'Product Sans';
}

.current-music {
    text-align:center;
    font-family: 'Product Sans';
}

h3{
    font-family: 'Product Sans';
}

.connect-div{
    margin-left: 2%;
}

.center-div {
    margin: 0 auto;
    width: 100px; 
}


button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    width: 110px;
    cursor: pointer;
  }

.button-key{
    width: 100px;
    height: 100px;
    border-radius: 15px

}
.encoder{
    width: 100px;
    height: 100px;
    border-radius: 100px

}
.button-grid{
    width: auto;
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;

    margin: 0 auto;
    width: 100px; 
}

.popup{
    right: 50;
}
.popupS-layer{
    /*margin-left: 2px;*/
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    width: auto;


}
input, button, textarea, :focus {
    outline: none;
    
}

.popupS-overlay{
    background: none;
}

.popupS-content{
    width: 400px;
}

.popupS-title{
    font-family: 'Product Sans';
    font-size: 20px;
}

.key-combination{
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-radius: 10px;
    width: auto;
    height: 30px;

    text-align: center;
    
}
