h1 {
    text-align:center;
    font-family: 'Product Sans';
}

.current-music {
    text-align:center;
    font-family: 'Product Sans';
}

h3{
    font-family: 'Product Sans';
}

.popupS-title{
    font-family: 'Product Sans';
    font-size: 20px;
}
.popupS-content{
    width: 500px;
}

.connect-div{
    margin-left: 2%;
}

.center-div {
    margin: 0 auto;
    width: 100px; 
}



.button-key{
    width: 100px;
    height: 100px;
    border-radius: 15px

}
.encoder{
    width: 100px;
    height: 100px;
    border-radius: 100px

}
.button-grid{
    width: 300px;
    height: auto;
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: right;
}


:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}