#connect-macropad {
    display: none;
    height: 500px;
}

select option {
    background: var(--button-color);
    color: var(--font-master-color);
    font-family: var(--font-master);
    user-select: var(--font-master-color);
}

select.decorated {
    background: var(--button-color-hover);
}


/* Select Port */

:root {
    --select-port-width: 350px;
    --select-port-padding: 5px;
    --select-port-border: 2px;
    --select-port-span-width: calc(var(--select-port-width) - (2*var(--select-port-padding)) - (2*var(--select-port-border)));
    --border-radius-button: 15px;
    --border-radius-popup: 25px;
    --border-radius-input: 10px;
}

.port-list {
    display: flex;
    flex-direction: column;
    border: var(--select-port-border) solid #3C3C3C;
    box-sizing: border-box;
    border-radius: var(--border-radius-button);
    width: var(--select-port-width);
    height: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.port-list span {
    display: inline-block;
    transition: all 0.3s;
    text-align: left;
    padding: var(--select-port-padding);
    width: var(--select-port-span-width);
    font-family: var(--font-master);
    font-size: normal;
    font-size: 30px;
    line-height: 48px;
}

.port-list label input {
    /* hide "normal" radio to create custom */
    display: none;
}

.port-list input:checked+span {
    background: var(--button-color-hover);
}

#set-name {
    display: flex;
    align-content: center;
    align-items: center;
}

#set-name button {
    border-radius: var(--border-radius-button);
    border: 2px solid var(--font-master-color);
}

#set-name input {
    border-radius: var(--border-radius-button);
    border: 2px solid var(--font-master-color);
    font-size: var(--font-master);
    font-size: 30px;
    width: 300px;
}

#port-scan-progress::-webkit-progress-bar {
    background: none;
}

#port-scan-progress {
    color: var(--font-master-color);
    border-radius: 7px;
    border: 2px solid;
}

::-webkit-progress-value {
    border-radius: 5px;
    transition: 1s;
}

.progress::-webkit-progress-value {
    background: rgb(0, 131, 253);
}

.end::-webkit-progress-value {
    background: rgb(0, 255, 0);
}