:root {
    --font-master: 'Poppins';
    --font-master-color: #3C3C3C;
    --button-color: #EAEAEA;
    --button-color-hover: #c0c0c0;
    --font-master-invert-color: #FFFFFF;
    --header-size: 28px;
}

input,
button,
textarea,
 :focus {
    outline: none;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

button:disabled,
button[disabled] {
    background: unset;
    background-color: unset;
    color: unset;
}

button {
    cursor: pointer
}

button>span::before {
    cursor: pointer;
}

@font-face {
    font-family: Poppins;
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-master);
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
    margin: 5px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row-reverse;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    height: 20px;
    justify-content: right;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(230, 230, 230);
    z-index: 9999;
}

.navbarButton {
    padding: 5px;
    -webkit-app-region: no-drag;
    border: none;
    background: none;
    color: white;
}

.navbarButton:hover {
    background: rgb(206, 206, 206);
}

.closeBtn:hover {
    background: rgb(255, 0, 0);
}

body {
    margin: 0px;
    background: #FFFFFF;
    /* overflow: hidden; */
}

#app-container {
    width: 1280px;
    height: 720px;
}

.software-title {
    position: absolute;
    left: 5%;
    margin: 2px;
    line-height: 55px;
    color: var(--font-master-color);
}

.ligne {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 80px;
    border: 1px solid var(--font-master-color);
}


/* ---- Popup ----- */

.popup {
    position: fixed;
    /* Sit on top */
    /* Location of the box */
    padding: 20px;
    left: 50px;
    top: 100px;
    width: 87%;
    /* overflow: hidden; */
    /* Fallback color */
    background: #FFFFFF;
    border: 3px solid var(--font-master-color);
    border-radius: var(--border-radius-popup);
    margin: 0px;
    z-index: 100;
    box-shadow: 0px 0px 10px black;
}

.popup h2 {
    display: flex;
    color: #3C3C3C;
    border-bottom: 1px solid var(--font-master-color);
    margin-top: 0px;
    margin-bottom: 5px;
}

.popup p {
    font-family: var(--font-master);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 2px;
    color: var(--font-master-color);
}


/* ---- /Popup ----- */

.popup .version {
    font-weight: bold;
}

.popup .actions {
    display: flex;
    position: absolute;
    padding: 5px;
    right: 0;
    bottom: 0px;
}

.popup button {
    display: flex;
    background: var(--button-color);
    border: 1px solid var(--font-master-color);
    box-sizing: border-box;
    border-radius: var(--border-radius-button);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-master);
    color: var(--font-master-color);
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}

.popup button:hover {
    background: var(--button-color-hover);
    transition: .2s;
}


/* ---- Popup Update----- */

#update-available {
    position: relative;
    display: none;
}


/* ---- /Popup Update----- */


/* ------------------ /Connect Popup ------------------- */

.backgroud-vector svg {
    position: absolute;
    bottom: -2px;
    width: 100%;
}

#popup-backgroud {
    width: 100%;
    height: 100%;
    position: fixed;
    top: var(--header-size);
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.disable {
    display: none;
}