#icon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto auto auto;
    width: 100px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    margin: 0px;
}

#color-selector {}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}


/* -------- Profile editor left --------*/

.profile-editor {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
    width: 380px;
    height: 80%;
    top: 50px;
}

.profile-editor#left {
    left: 0px;
}

.profile-editor#right.disable {
    display: none;
}

.profile-editor#right {
    left: 757px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#profile-editor-actions {
    display: flex;
    height: 50px;
}

#edit-encoder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-encoder.disable {
    display: none;
}

#image-comment {
    text-align: center;
    width: 300px;
}