:root {
    --font-master: 'Poppins';
    --header-size: 28px;
    --font-size-small: 12px;
    --font-size-medium: 20px;
    --font-size-icon: 30px;
    --macopad-color-1: #FE7100;
    --macopad-color-2: #0082FE;
    --button-transition-speed: 0.2s;
}

:root .light-mode {
    --color-background: #FFFFFF;
    --font-master-color: #3C3C3C;
    --button-color: #EAEAEA;
    --button-color-hover: #c0c0c0;
    --font-master-invert-color: #FFFFFF;
    --color-header: rgb(230, 230, 230);
    --color-header-hover: rgb(206, 206, 206);
    --color-buttons: black;
    --color-connect-button: #F0F0F0;
    --color-macropad-border: #3C3C3C;
    --color-key-selector: var(--macopad-color-2);
    --color-macropad-background: #FFFFFF;
    --background-url: url("../images/background.svg");
}

:root .dark-mode {
    --color-background: #3C3C3C;
    --font-master-color: #FFFFFF;
    --button-color: #3C3C3C;
    --button-color-hover: #757575;
    --font-master-invert-color: #000000;
    --color-header: rgb(37, 35, 35);
    --color-header-hover: rgb(66, 62, 62);
    --color-buttons: white;
    --color-connect-button: #2f2f2f;
    --color-macropad-border: #FFFFFF;
    --color-key-selector: var(--macopad-color-2);
    --color-macropad-background: #3C3C3C;
    --background-url: url("../images/background-dark.svg");
}

input,
button,
textarea,
 :focus {
    outline: none;
    cursor: pointer;
    color: var(--font-master-color);
}

select {
    background-color: var(--color-background);
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    /* cursor: default; */
}

button:disabled,
button:disabled>*::before,
button[disabled],
button[disabled]>*,
button[disabled]>*::before {
    color: var(--font-master-color);
    /* background-color: var(--button-color); */
    border-color: var(--font-master-color);
    cursor: default;
}

button,
input,
label,
select {
    cursor: pointer;
    background-color: var(--color-connect-button);
}

button>*,
input>*,
label>* {
    cursor: pointer
}

button>span::before {
    cursor: pointer;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../../fonts/poppins/Poppins-Regular.ttf);
}

h1,
h2,
h3,
h4,
input,
select,
label {
    font-family: var(--font-master);
    font-style: normal;
    font-weight: normal;
    color: var(--font-master-color);
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
    margin: 5px;
    font-weight: bold;
}

h4 {
    margin: 0px;
    padding: 0px;
}

input,
select {
    border: var(--font-master-color) solid 2px;
    border-radius: calc(var(--border-radius-button) / 2);
}

header {
    display: flex;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    height: var(--header-size);
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    z-index: 999999999;
}

.navbar-buttons-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.navbarButton {
    padding: 6px;
    height: var(--header-size);
    -webkit-app-region: no-drag;
    border: none;
    background: none;
}

.navbarButton:hover {
    background: var(--color-header-hover);
}

.closeBtn:hover {
    background: rgb(255, 0, 0);
}

.navbarButton svg path {
    fill: var(--font-master-color);
}

body {
    margin: 0px;
    background-color: var(--color-background);
    overflow: hidden;
}

span {
    font-family: var(--font-master);
}

.backgroud-vector {
    /* width: 1280px;
    height: 720px; */
    z-index: -1;
    background-image: var(--background-url);
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0px;
    /* background-size: 100% 24px;
    background-repeat: repeat-x; */
}

.software-title {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    color: var(--font-master-color);
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.ligne {
    width: 90%;
    border: 1px solid var(--font-master-color);
}


/* ---- Popup ----- */

.popup {
    position: fixed;
    /* Sit on top */
    /* Location of the box */
    padding: 20px;
    top: 35px;
    /* width: 87%; */
    width: 60%;
    /* overflow: hidden; */
    /* Fallback color */
    background: var(--color-background);
    border: 3px solid var(--font-master-color);
    border-radius: var(--border-radius-popup);
    margin: 0px;
    z-index: 100;
    box-shadow: 0px 0px 10px black;
}

.popup h2 {
    display: flex;
    color: var(--font-master-color);
    border-bottom: 1px solid var(--font-master-color);
    margin-top: 0px;
    margin-bottom: 5px;
}

.popup p {
    font-family: var(--font-master);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 2px;
    color: var(--font-master-color);
}


/* ---- /Popup ----- */

.popup .version {
    font-weight: bold;
}

.popup .actions {
    display: flex;
    position: absolute;
    padding: 5px;
    right: 0;
    bottom: 0px;
}

.popup button {
    display: flex;
    background: var(--button-color);
    border: 1px solid var(--font-master-color);
    box-sizing: border-box;
    border-radius: var(--border-radius-button);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-master);
    color: var(--font-master-color);
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}

.popup button:hover {
    background: var(--button-color-hover);
    transition: .2s;
}


/* ---- Popup Update----- */

#update-available {
    /* position: relative; */
    display: none;
}


/* ---- /Popup Update----- */


/* ------------------ /Connect Popup ------------------- */

.backgroud-vector svg {
    position: absolute;
    bottom: -2px;
    width: 100%;
}

#popup-backgroud {
    width: 100%;
    height: 100%;
    position: fixed;
    top: var(--header-size);
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.disable {
    display: none;
}

#software-div-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#software-div-selector>button {
    font-size: 15px;
    padding: 2px;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* custom scrollbar */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 50px;
}

.no-background {
    background: none;
}