/* ------------------ Overview ------------------- */

.connect button {
    border: none;
    background: none;
    font-family: var(--font-master);
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.connect:hover {
    background: var(--button-color-hover);
    transition: 0.2s;
}

.connect {
    background: var(--color-connect-button);
    border: 1px solid var(--font-master-color);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-input);
    display: flex;
    align-content: center;
    justify-content: center;
    /* text */
    padding: 5px;
    cursor: pointer;
    width: 150px;
}

#connect-status {
    width: 13px;
    height: 13px;
    border-radius: var(--border-radius-button);
    margin-left: 5px;
    display: inline-block;
}

#connect-status.offline {
    background: red;
}

#connect-status.online {
    background: green;
}

:root {
    --profil-button-size: 45px;
    --profil-button-margin-right: 10px;
    --profil-button-margin: 2px;
    --profil-button-border: 2px;
    --profil-button-border-radius: 10px;
    --profil-button-padding: 6px;
    --macropad-button-size: 100px;
    --macropad-button-border: 2px;
    --macropad-button-margin: 5px;
    --macropad-button-padding: 6px;
    --macropad-grid-padding: 5px;
    --macropad-center: 403px;
    --macropad-profile-selector-width: 50px;
}


/* ------------------ /Overview ------------------- */

#macropad-grid button {
    width: var(--macropad-button-size);
    height: var(--macropad-button-size);
    transition: transform 0.5s;
    border: var(--macropad-button-border) solid var(--color-macropad-border);
    box-sizing: border-box;
    margin: var(--macropad-button-margin);
    padding: var(--macropad-button-padding);
}

#macropad-grid .key {
    border-radius: 15px;
    font-size: 57px;
}

#macropad-grid .encoder {
    border-radius: 100px;
    font-size: 57px;
}

#macropad button:hover {
    cursor: unset;
}

#macropad.editor button:hover {
    transform: scale(.9);
    cursor: pointer;
}

#macropad-grid {
    display: grid;
    height: auto;
    width: fit-content;
    grid-template-columns: repeat(3, auto);
    padding: var(--macropad-grid-padding);
}

#macropad-border {
    border: 3px solid var(--color-macropad-border);
    border-radius: 23px;
    width: fit-content;
    background: var(--color-macropad-background);
}

#macropad-display {
    margin: 5px;
    margin-left: 82px;
    margin-right: 82px;
    background: var(--font-master-color);
    border-radius: 8px;
    border: none;
    text-align: center;
    overflow: hidden;
}

#macropad-display h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--font-master-invert-color);
    width: 176px;
    height: 44px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#macropad-display h4.scroll {
    position: relative;
    justify-content: normal;
}

.profile-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-selector label {
    width: var(--profil-button-size);
    height: var(--profil-button-size);
    border: var(--profil-button-border) solid var(--font-master-color);
    margin: var(--profil-button-margin);
    border-radius: var(--profil-button-border-radius);
    padding: var(--profil-button-padding);
    font-size: var(--font-size-icon);
    text-align: center;
    background: var(--button-color);
}

.profile-selector.disable {
    display: none;
}


/* .overview {
    position: absolute;
    top: 140px;
    left: 5%;
    width: 90%;
    height: 550px;
} */

.overview {
    margin: 3%;
}


/* center the macropad-container div */

#macropad-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #macropad-container {
    display: flex;
    flex-direction: left;
    align-items: center;
    justify-content: center;
} */


/* ---- Buttons Icon ---- */

:root {
    --action-button-size: 45px;
    --action-button-icon-size: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
}

.top .left {
    display: flex;
}

.top .left .loader {
    width: 30px;
    margin: 5px;
    display: none;
}

#edit button {
    /* width: var(--action-button-size); */
    /* height: var(--action-button-size); */
    font-size: var(--action-button-icon-size);
    border: 1px solid var(--font-master-color);
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    transition: var(--button-transition-speed);
}

#edit button h2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#edit button:hover {
    background: var(--button-color-hover);
    transition: var(--button-transition-speed);
}

.active-button button {
    background: var(--button-color-hover);
}

.settings {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.send {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.ui-corner-button button {
    width: var(--action-button-size);
    height: var(--action-button-size);
    font-size: var(--action-button-icon-size);
    border: 1px solid var(--font-master-color);
    box-sizing: border-box;
    border-radius: 12px;
    transition: var(--button-transition-speed)
}

.ui-corner-button button:hover {
    background: var(--button-color-hover);
    transition: var(--button-transition-speed)
}


/* ---- /Buttons Icon ---- */

.profile-selector .checked {
    background: var(--button-color-hover);
    transition: all 0.3s;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-105%);
    }
}

.bold {
    font-weight: bold;
}

#profile-editor-toggle {
    transition: all 0.3s;
}

#edit-button {
    opacity: 1;
}

#back-button {
    position: relative;
    top: -46px;
    opacity: 0;
}

#edit-button,
#back-button {
    transition: opacity 0.2s linear;
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transition: visibility 0.2s, opacity 0.2s linear !important;
}

#send-loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#send-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.send button span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#send-ok {
    position: relative;
    top: -46px;
    left: 0px;
    color: green;
}

#send-error {
    position: relative;
    top: -93px;
    left: 0px;
    color: red;
}