.popup#settings,
.popup#export-import-settings {
    width: 60%;
}

#popup-container {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background: none
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px var(--font-master-color);
    height: 75px;
}

.settings-item>* {
    margin: 10px;
}

.settings-item:hover {
    background-color: var(--button-color-hover);
    transition: 0.2s;
    cursor: pointer;
}

.settings-menu-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-menu-text h4 {
    margin: 5px;
    margin-top: 0px;
}

.settings-title {
    font-weight: bold;
    cursor: pointer;
    transition-property: text-decoration;
    transition-duration: 0.2s;
}

.settings-title:hover {
    text-decoration: underline;
}

.settings-head {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--font-master-color);
    align-items: center;
}

.settings-head h2 {
    border: none;
}

.settings-head button {
    background: none;
    border: none;
    padding: 10px;
    margin: 0;
}

.settings-head button:hover {
    background: none;
}

.settings-head button span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.settings-head button span:hover {
    color: var(--button-color-hover);
}

.settings-header-title {
    display: flex;
}

#export-import-settings .content,
#do-update-settings .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#export-import-settings .content>*,
#do-update-settings .content>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hard-reset-button {
    border: 2px solid #FF3C3C;
    box-sizing: border-box;
    border-radius: var(--border-radius-button);
}

#hard-reset-settings>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-settings>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#download-progress-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* .close-settings {

} */

.settings-title-separator {
    font-weight: bold;
    margin: 10px;
}

.update-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}